@import colors
$fontstack: Ubuntu, Helvetica

@mixin column_buttons ($colnum, $height: 70vh, $text-size: 7vh)
    background-color: $back-color-2
    width: calc(90%/$colnum)
    height: $height
    .text_in
        text-align: center
        font-size: $text-size
        position: relative
        top: calc($height/2 - $text-size)
    float: left
    margin-left: calc(10% / ($colnum + 1))
    margin-right: 0px
    border-color: $border-color
    border-radius: 5px
    border-style: solid
    border-width: 1px

body
    background-color: $back-color
    color: $front-color
    font: 100% $fontstack
    margin: 40px 5%
    line-height: 1.6
    font-size: 18px
    padding: 0 10px

h1,h2,h3
    line-height:1.2

.animage
    width: 25vw
    height: 25vw
    margin: 2vw
    float: center

.controls
    margin: 0 auto
    display: block

.bottom_menu
    position: absolute
    height: 5vh
    width: 5vh
    top: 88vh
    left: calc(50vw - 2vh)

.main_menu
    @include column_buttons(2)

.sound_menu
    @include column_buttons(2)

.word_menu
    @include column_buttons(3)

.success
    font-size: 25vh
    margin-top: 30vh
    text-align: center
    float: center
    color: $front-color

.text_game
    @include column_buttons(3, 60vh)

.center_button
    @include column_buttons(1, 60vh, 25vh)
