body {
  background-color: #400080;
  color: #00f090;
  font: 100% Ubuntu, Helvetica;
  margin: 40px 5%;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
}

.animage {
  width: 25vw;
  height: 25vw;
  margin: 2vw;
  float: center;
}

.controls {
  margin: 0 auto;
  display: block;
}

.bottom_menu {
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 88vh;
  left: calc(50vw - 2vh);
}

.main_menu {
  background-color: #6000f0;
  width: 45%;
  height: 70vh;
  float: left;
  margin-left: 3.3333333333%;
  margin-right: 0px;
  border-color: #000;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.main_menu .text_in {
  text-align: center;
  font-size: 7vh;
  position: relative;
  top: 28vh;
}

.sound_menu {
  background-color: #6000f0;
  width: 45%;
  height: 70vh;
  float: left;
  margin-left: 3.3333333333%;
  margin-right: 0px;
  border-color: #000;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.sound_menu .text_in {
  text-align: center;
  font-size: 7vh;
  position: relative;
  top: 28vh;
}

.word_menu {
  background-color: #6000f0;
  width: 30%;
  height: 70vh;
  float: left;
  margin-left: 2.5%;
  margin-right: 0px;
  border-color: #000;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.word_menu .text_in {
  text-align: center;
  font-size: 7vh;
  position: relative;
  top: 28vh;
}

.success {
  font-size: 25vh;
  margin-top: 30vh;
  text-align: center;
  float: center;
  color: #00f090;
}

.text_game {
  background-color: #6000f0;
  width: 30%;
  height: 60vh;
  float: left;
  margin-left: 2.5%;
  margin-right: 0px;
  border-color: #000;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.text_game .text_in {
  text-align: center;
  font-size: 7vh;
  position: relative;
  top: 23vh;
}

.center_button {
  background-color: #6000f0;
  width: 90%;
  height: 60vh;
  float: left;
  margin-left: 5%;
  margin-right: 0px;
  border-color: #000;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.center_button .text_in {
  text-align: center;
  font-size: 25vh;
  position: relative;
  top: 5vh;
}

/*# sourceMappingURL=style.css.map */
